<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Información del Sistema</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="contenedor">
        <h1>Información del Sistema</h1>
        <ul>
            <li><b>Usuario:</b> {{ usuario }}</li>
            <li><b>Sistema Operativo:</b> {{ so }}</li>
            <li><b>Carpeta Actual:</b> {{ carpeta }}</li>
            <li><b>IP Local:</b> {{ ip_local }}</li>
            <li><b>Fecha y Hora:</b> {{ fecha_hora }}</li>
        </ul>
    </div>
</body>
</html>
